html,
body {
	padding: 0;
	margin: 0;
}

a {
	color: darkblue;
}

a:hover {
	color: black;
}

button {
	background: darkblue!important;
	color: white!important;
}

button:hover {
	background: black!important;
}